h1{text-align: center; margin: 2%;}
#login{width: 40%; margin: auto;}
.notice{
    color: red;
}
#register{float: right;}
form button a{color: white;}

#content{width: 80%; margin: auto;}
#content h2{ text-align: center; margin-top: 3%; margin-bottom: 3%;}
.items {
    grid-area: itemList;
    padding: 2%;
}
.view {
    padding: 2%;
    grid-area: view;
}
.action {
    grid-area: action;
    padding: 2%;
}
.reservation {
    grid-area: reserv;
    padding: 2%;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        'itemList view'
        'itemList view'
        'itemList reserv'
        'action reserv';
}

.grid-container > div {
    background-color: rgba(86,61,124,0.25);
    padding: 1em;
}

.item-grid{
    margin: 20px 0 15px 0;
}

#profile{
    border: none;
    background: none;
    color: black;
    font-weight: bold;
}

#profile:hover{
    background-color: rgba(86,61,124,0.35);
    color: white;
}

#inputError{
    color: red;
}

.report{
    width: 40%;
    float: left;
}